<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skinfoodie.com</title>
    <link href="/stylesheets/styles1.css" rel="stylesheet" type="text/css">

  <!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "name": "Vitality.com"
    }
    </script>

    <meta property="og:title" content="Vitality">
    <meta property="og:description" content="Vitality">
    <meta property="og:url" content="https://vitality-4qk4.onrender.com">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-29GGWR1LK0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-29GGWR1LK0');
</script>

  </head>
  <body>
    <header>

      
      <div class="menu logo-nav">
        <a href="/" class="logo">Skinfoodie</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/cuadricula">Productos</a></li>
            <li><a href="/sesion">Puntuar</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
  
            <li>Nutrición para una piel saludable y radiante</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://fotopiel.com/cdn/shop/articles/fotopiel-rutina-de-skincare-cuidado-facial_1200x.jpg?v=1681237955" alt="2" width="300" height="300"></li>
    <li><img src="https://vibrantskinbar.com/wp-content/uploads/best-natural-skin-care-routine.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://media6.ppl-media.com/mediafiles/blogs/skincare_routine_1024x684_b49ad26d9f.png" alt="2" width="300" height="300"></li>
  </ul>
</div>


<div class="container-index">

  <div class="container-circulos">
    <div class="container-imagen">
      <img src="https://uperfect.pe/cdn/shop/files/aha.png?v=1696954340" class="circulo">
      <h2>Exfoliante Químico</h2>
    </div>
    <div class="container-imagen">
      <img src="https://www.laroche-posay.cl/-/media/project/loreal/brand-sites/lrp/america/latam/products/anthelios/anthelios-uvmune-fluid-ap-50/lrpproductpagesunantheliosuvmune400fluidspspf503337875797597frontpng.png" class="circulo">
      <h2>Protector Solar</h2>
    </div>
    <div class="container-imagen">
      <img src="https://www.cerave.es/-/media/project/loreal/brand-sites/cerave/emea/es/scx/derm-quote-images/hydrating-cleanser.png?rev=-1?w=150&hash=2860873A6FE2492A000DE0D6BB760C4F" class="circulo">
      <h2>Hidratantes</h2>
  </div>
  </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE Skinfoodie </h2>
        <p>Trabajamos con las marcas más reconocidas en la industria del cuidado de la piel, 
          asegurando que cada producto que encuentres en Skinfoodie cumpla con nuestros estándares de calidad. 
          Además, nuestro equipo de expertos está siempre disponible para brindarte recomendaciones personalizadas y responder a todas tus preguntas.</p>
      </div>
      <div class="columna2">
        <img src="https://needbeauty.com/cdn/shop/articles/1_2_1445x.png?v=1601317305" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/">Skinfoodie</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/login">Administrar</a></li>
                            <li><a href="/listado">Productos</a></li>
                           
                            <li><a href="/client">Registrarse</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    
</body>
</html>